# --- Entorno Virtual (creado en la raíz del proyecto) ---
.venv/
pyvenv.cfg

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Herramientas e IDE ---
.vscode/

# --- OS ---
.DS_Store
Thumbs.db
